.errors {
  margin-top: 20px;
  padding: 10px;
  color: "#f44336"
}

.users {
  padding: 4px;
}

.user-me {
  font-weight: bold;
}

.points {
  margin-left: 10px;
}

.container {
  font-family: arial;
}
